[submodule "tonesniper-backend"]
    path = tonesniper-backend
    url =
    branch = backend

[submodule "tonesniper-database"]
    path = tonesniper-database
    url =
    branch = database

[submodule "tonesniper-frontend"]
    path = tonesniper-frontend
    url =
    branch = frontend